body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link, a:visited {
    text-decoration: none;
    color: black;
}

a:link:hover {
    text-decoration: underline;
}

nav img {
    height: 15px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

nav li {
    float: left;
    margin-right: 25px;
}

#navSelected {
    font-weight: 500;
}

header {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}

header video, header img {
    position: absolute;
    top: -370px;
    left: 0;
    width: 100%;
    height: auto;
}

#videoHeaderText {
    color: white;
    font-size: 70px;
    position: absolute;
    left: 1em;
    bottom: 1em;
}

article {
    clear: both;
    width: 80%;
    margin: 50px auto;
}

#headerSectionSpace {
    margin-top: 100px;
}

section {
    width: 80%;
    margin: auto;
}

.sectionPart1, .sectionPart2 {
    border-radius: 40px;
    margin: auto;
    width: 650px;
    float: left;
    position: relative;
    overflow: hidden;
}

.sectionPart1 {
    margin-left: 35px;
}

.sectionPart2 {
    margin-left: 110px;
}

.sectionPart1 img, .sectionPart2 img {
    transition: transform .5s ease;
    transform: scale(1.1);
}

.sectionPart1:hover img, .sectionPart2:hover img {
    transform: scale(1.2);
}

.sectionPart1MOD, .sectionPart2MOD, .sectionPart3MOD, .sectionPart4MOD, .sectionPart5MOD, .sectionPart6MOD {
    border-radius: 40px;
    margin: auto;
    width: 400px;
    height: 500px;
    float: left;
    position: relative;
    overflow: hidden;
}

.sectionPart1MOD, .sectionPart4MOD {
    margin-left: 35px;
}

.sectionPart2MOD, .sectionPart3MOD {
    margin-left: 110px;
}

.sectionPart4MOD {
    clear: both;
}

.sectionPart1MOD img, .sectionPart2MOD img, .sectionPart3MOD img, .sectionPart4MOD img, .sectionPart5MOD img, .sectionPart6MOD img {
    transition: transform .5s ease;
    transform: scale(1.1);
    position: absolute;
    top: -100px;
    left: -100px;
}

.sectionPart1MOD:hover img, .sectionPart2MOD:hover img, .sectionPart3MOD:hover img, .sectionPart4MOD:hover img, .sectionPart5MOD:hover img, .sectionPart6MOD:hover img {
    transform: scale(1.2);
}

#sectionLeftText {
    position: absolute;
    left: 1.5em;
    bottom: 2.5em;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

#sectionLeftIcon {
    position: absolute;
    right: 1.5em;
    bottom: 2.5em;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

footer {
    clear: both;
    border-top: 2px solid rgb(182, 182, 182);
    margin-top: 500px;
    background-color: rgb(211, 211, 211);
}

footer ul {
    list-style-type: none;
    margin-left: -40px;
}

footer li {
    margin-bottom: 10px;
}

footer a:link:hover {
    text-decoration: none;
    border-radius: 100px;
    background-color: rgb(240, 255, 255, 0.3);

}

.footerContainer {
    width: 80%;
    margin: auto;
}

.footerField {
    float: left;
    margin-right: 100px;
}

#footerSM li {
    float: left;
    margin-right: 15px;
}

#footerCopy {
    padding-top: 200px;
    padding-bottom: 10px;
}

.footerLogo img {
    width: 250px;
}

.footerLogo {
    float: right;
    position: relative;
    bottom: 8.5em;
    right: 6em;
}