body {
    background-color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a:link,
a:visited {
    position: relative;
    text-decoration: none;
    color: black;
}

a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: black;
    transition: width 0.3s ease;
}

nav a:link:hover::after {
    width: 100%;
}

nav img {
    height: 15px;
    margin-left: 30px;
    margin-top: 20px;
    margin-bottom: 30px;
    float: left;
}

nav ul {
    list-style-type: none;
    float: right;
    margin-right: 20px;
}

nav li {
    float: left;
    margin-right: 25px;
}

#navSelected {
    font-weight: 500;
}

header {
    width: 100%;
    height: 380px;
    overflow: hidden;
    position: relative;
}

header video,
header img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto;
}

#videoHeaderText {
    color: white;
    font-size: 70px;
    position: absolute;
    left: 1em;
    bottom: 1em;
}

article {
    clear: both;
    width: 80%;
    margin: 50px auto;
}

#headerSectionSpace {
    margin-top: 100px;
}

section {
    width: 80%;
    margin: auto;
}

#sectionLeftText {
    position: absolute;
    left: 1.5em;
    bottom: 2.5em;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

#sectionLeftIcon {
    position: absolute;
    right: 1.5em;
    bottom: 2.5em;
    color: white;
    font-weight: 500;
    font-size: 1.1em;
}

footer {
    clear: both;
    border-top: 2px solid rgb(182, 182, 182);
    margin-top: 500px;
    background-color: rgb(211, 211, 211);
}

footer ul {
    list-style-type: none;
    margin-left: -40px;
}

footer li {
    margin-bottom: 10px;
}

footer a {
    padding: 5px;
}

footer a:link:hover {
    text-decoration: none;
    border-radius: 100px;
    background-color: rgb(240, 255, 255, 0.3);

}

.footerContainer {
    width: 80%;
    margin: auto;
    margin-top: 15px;
}

.footerField {
    float: left;
    margin-right: 100px;
}

#footerSM li {
    float: left;
    margin-right: 15px;
}

#footerCopy {
    padding-top: 200px;
    padding-bottom: 10px;
}

.footerLogo img {
    width: 250px;
}

.footerLogo {
    float: right;
    position: relative;
    bottom: 9em;
    right: 6em;
}